
<nav>
    <div class="container">
        <div class="content">
            <h2 class="logo" routerLink="/products" >E-COMMERCE</h2>
                <ul >
                <li class="fa-brands" routerLink="/products"> <img src="../../../../assets/coeur.png"></li>
                <li  class="fa-brands" routerLink="/cart" ><img src="../../../../assets/pa.png"></li>
                <li class="fa-brands"  routerLink="/login-user" ><img src="../../../../assets/av.png"></li>
                <li class="fa-brands"  routerLink="/" ><img src="../../../../assets/chercher.png"></li>
            </ul>
        </div>
    </div>
</nav> 
<div class="lds-ripple"><div></div><div></div></div>

