<div id="container">
    <form  method="post"  name="f1"class="form" >
    <h3 >
                    Créer un Compte 
                </h3>

                    <label id="aderess" onmouseenter="verif(this)">Adresse E-mail</label>
                    <input class="innp" type="text" name="email" placeholder="Taper votre email">
                    <label id="nomm" onmouseenter="verif(this)">Nom de Famille</label>
                    <input class="innp" type="text" name="nom" placeholder="Tapez votre nom">
                    <label id="pre" onmouseenter="verif(this)">Prénom</label>
                    <input class="innp" type="text" name="prenom" placeholder="Tapez votre prénom">
                    <label id="numr" onmouseenter="verif(this)">Numéro-téléphone</label>
                    <input class="innp" type="text" name="telephone" placeholder="Tapez votre telephone">

                    <label>Mot de passe</label>
                    <input class="innp" type="password" name="mp" placeholder="Tapez votre mot de passe">
                <br/>
                <button type="submit"  id="co"  >Créer</button>
                <br/>
              <button type="submit" id="ann"  >Annuler</button>
             
              </form>
  </div>
