<body >
      <div id="container">
        <form method="">
         <h2 class="exemple_un">Espace  Connexion</h2>
               <label for="exampleInputEmail1" >Votre Email </label>
               <input type="text"   name ="email" id="exampleInputEmail1" placeholder="Taper votre email">
               <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                 <label for="exampleInputPassword1" >Mot de passe</label>
                 <input type="password" name="mp"id="exampleInputPassword1"placeholder="Taper votre mot de passe">
             <button type="submit" >Connexion</button>
             <h5 routerLink="/register-user">Créer un compte </h5>
           </form>
  
       </div>
       <br>
       <br>
       <br>
       <br>
      </body>
 
