<footer class="footer">
   
    <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__logo">
                                <a href="#"><img src="img/footer-logo.png" alt=""></a>
                            </div>
                            <p id="client" onmouseenter="verif(this)">Le client est au cœur de notre modèle économique unique, qui inclut le design.</p>
                            <a href="#"><img src="img/payment.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                        <div class="footer__widget">
                        <h6>Shopping</h6>
                            <ul>
                                <li><a id="ma" onmouseenter="verif(this)">Magasin de vêtements</a></li>
                                <li><a id="ch" onmouseenter="verif(this)">Chaussures tendance</a></li>
                                <li><a id="ve" onmouseenter="verif(this)">Vente</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer__widget">
                            <h6 id="sh" onmouseenter="verif(this)">Shopping</h6>
                            <ul>
                                <li><a id="cc" onmouseenter="verif(this)">Contactez-nous</a></li>
                                <li><a id="mo" onmouseenter="verif(this)">Modes de paiement</a></li>
                                <li><a id="li" onmouseenter="verif(this)">Livraison</a></li>
                                <li><a id="re" onmouseenter="verif(this)">Retours et échanges</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                        <div class="footer__widget">
                        <h6 id="no" onmouseenter="verif(this)">Nouvelle lettre</h6>
                            <div class="footer__newslatter">
                                <p id="ss" onmouseenter="verif(this)">Soyez les premiers informés des nouveautés, lookbooks, soldes et promotions !</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ligne">
                    <div class="col-lg-12 text-center">
                        <div class="footer__copyright__text">
                            <!-- Le lien vers Colorlib ne peut pas être supprimé. Le modèle est sous licence CC BY 3.0. -->
                            <p id="tt" onmouseenter="verif(this)">Copyright ©
                                2022
                                Tous les droits sont réservés
                            </p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section End -->
